@charset "utf-8";
body {
    font-family: 'Nunito', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
}

a#logo {
    position: absolute;
    top: 24px;
    left: 142px;
    width: 38px;
    height: 48px;
    background: transparent url('../images/logo2.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

p#title {
    position: absolute;
    top: 6px;
    left: 188px;
    width: 140px;
    height: 41px;
    text-align: left;
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
    letter-spacing: -2.4px;
    opacity: 1;
    color: #229de8
}

span#call {
    color: #B60B05;
}

nav {
    position: absolute;
    margin-top: 20px;
    margin-left: 618px;
    width: 645px;
    height: 18px;
    opacity: 1;
    text-align: left;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
    float: left;
    font-family: 'Nunito Sans', sans-serif;
}

nav li {
    list-style-type: none;
    display: inline;
    font-size: 18px;
    margin-left: 25px;
    font-family: 'Nunito Sans', sans-serif;
}

a.header {
    text-decoration: none;
    color: #229de8;
}

a.header:hover {
    color: #B60C06;
}

a#he {
    color: #b60c06
}

header {
    top: 0px;
    left: 0px;
    width: 1366px;
    height: 88px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
}

h2#pl {
    position: absolute;
    top: 120px;
    left: 142px;
    width: 228px;
    height: 66px;
    text-align: left;
    font-size: 48px;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 0;
    color: #229DE8;
    opacity: 1;
}

p#get {
    position: absolute;
    top: 191px;
    left: 142px;
    width: 599px;
    height: 64px;
    text-align: left;
    font-size: 24px;
    font-weight: lighter;
    font-family: ' Nunito', sans-serif;
    letter-spacing: 0;
    color: #525355;
    opacity: 1;
}

div#lite {
    position: absolute;
    top: 295px;
    left: 142px;
    width: 322px;
    height: 369px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000042;
    border-radius: 5px;
    opacity: 1;
}

div#lite1 {
    position: absolute;
    top: 295px;
    left: 142px;
    width: 322px;
    height: 116px;
    background: transparent linear-gradient(108deg, #47E3FB 0%, #47E4FAE8 15%, #3BCCFA 38%, #39B8F7 59%, #229DE8 81%, #229DE8 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 0px 0px 75% 75%;
}

p#liteg {
    position: absolute;
    top: 310px;
    left: 174px;
    width: 174px;
    height: 23px;
    text-align: left;
    font-size: 17px;
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
}

p#liteg2 {
    position: absolute;
    top: 358px;
    left: 240px;
    width: 118px;
    height: 32px;
    text-align: left;
    font-weight: Bold;
    font-size: 24px;
    font-family: 'Nunito Sans' sans-serif;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
}

ul#plan1 {
    list-style-image: url(../images/tick.png);
    position: absolute;
    top: 446px;
    left: 200px;
    height: 11px;
    line-height: 25px;
}

span.red {
    color: #B60B05;
    font-weight: bold;
}

p#gets {
    position: absolute;
    top: 600px;
    left: 142px;
    width: 218px;
    height: 19px;
    color: #229de8;
    opacity: 1;
    border-top: 2px solid #229de8;
    padding-top: 20px;
    padding-left: 105px;
    line-height: 10px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

p#gets a {
    color: #229DE8;
    text-decoration: none;
}

div#pl2 {
    position: absolute;
    top: 295px;
    left: 511px;
    width: 322px;
    height: 369px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000042;
    border-radius: 5px;
    opacity: 1;
}

div#pl3 {
    position: absolute;
    top: 295px;
    left: 511px;
    width: 322px;
    height: 116px;
    background: transparent linear-gradient(108deg, #47E3FB 0%, #47E4FAE8 15%, #3BCCFA 38%, #39B8F7 59%, #229DE8 81%, #229DE8 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 0 0 75% 75%;
}

p#max {
    position: absolute;
    top: 310px;
    left: 543px;
    width: 164px;
    height: 23px;
    text-align: left;
    font-size: 17px;
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
}

p#max2 {
    position: absolute;
    top: 358px;
    left: 609px;
    width: 118px;
    height: 32px;
    text-align: left;
    font-weight: Bold;
    font-size: 24px;
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
}

ul#plan2 {
    list-style-image: url(../images/tick.png);
    position: absolute;
    top: 446px;
    left: 569px;
    height: 11px;
    line-height: 25px;
}

#gets2 {
    position: absolute;
    top: 600px;
    left: 511px;
    width: 218px;
    height: 19px;
    color: #229de8;
    opacity: 1;
    border-top: 2px solid #229de8;
    padding-top: 20px;
    padding-left: 105px;
    line-height: 10px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

#gets2 a {
    color: #229DE8;
    text-decoration: none;
}

div#footer {
    position: absolute;
    top: 725px;
    left: 50px;
    width: 1267px;
    height: 127px;
    background: #229DE8 0% 0% no-repeat padding-box;
    border-radius: 48px 48px 0px 0px;
    opacity: 1;
}

p#footer {
    position: absolute;
    top: 765px;
    left: 1131px;
    width: 142px;
    height: 24px;
    text-align: left;
    font-size: 18px;
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
}

img#fb {
    position: absolute;
    top: 775px;
    left: 652px;
    width: 11px;
    height: 21px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
}

img#tw {
    position: absolute;
    top: 775px;
    left: 687px;
    width: 28px;
    height: 21px;
    background: transparent url('img/twitter-logo-silhouette.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

a#aboutf {
    position: absolute;
    top: 775px;
    left: 140px;
    width: 50px;
    height: 24px;
    text-align: left;
    font-size: 18px;
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
}

footer a {
    text-decoration: none;
}

a#faqf {
    position: absolute;
    top: 775px;
    left: 260px;
    width: 44px;
    height: 24px;
    text-align: left;
    font-size: 18px;
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
}

a#contactf {
    position: absolute;
    top: 775px;
    left: 381px;
    width: 90px;
    height: 24px;
    text-align: left;
    font-size: 18px;
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
}